body{
	margin: 0px;
}

.app{
  width: 1920px;
  height: 1080px;
  background-image: url(images/bg.jpg);
  background-repeat: no-repeat;
  margin: auto;
	color: white;

  .center{
    margin-left: auto;
    margin-right: auto;
  }


	.title{
    height: 120px;
    font-size: 34px;
		width: 630px;
    // background-image: url(images/title01.png);
    // background-repeat: no-repeat;
    .img{
          vertical-align: text-bottom;
    	}
  	}

		.show-face-list{
			height: 612px;
		}


.show-face-wrapper{
  width: 1600px;
	display: table;
    text-align: center;

		.show-face-single-wrapper{
			display: table-cell;
			.show-face{
		    display: inline-block;
		    height: 590px;
		    width: 417px;
		    background-color: #092f49;

		    padding-top: 22px;

		    .face{
					height: 413px;
					width: 100%;
					position: relative;

		      .real-face{
		        position: absolute;
		        left: 2px;
		        top: 0px;
		        width: 415px;
		    		height: 391px;
		      }

		      .face-mask{
						position: absolute;
						left: 0px;
						top: 0px;
		      }

		      .marker-circle{
						position: absolute;
						top: 367px;
						left: 183px;
						height: 50px;
		      }

		    }

		    .tip{
		      .icon{
						height: 90px;
						background-image: url(images/title02.png);
						background-repeat: no-repeat;
						background-position-x: center;

		      }
		      .text{
		        color: white;
		        font-size: 50px;
		        text-align: center;
		      }

		    }

		  }
		}

}



  .face-list{
    margin-top: 134px;

    .content{
      text-align: center;
      width: 100%;

			.belowFaceDisplayer{
				width: 100%;
			}

      .item{
        display: inline-block;
        height: 200px;
        .img{
          width: 117px;
          height: 114px;
        }
        .time{
              height: 22px;
        }
      }

			.videoWrapper{
				width: 98%;
				height: 193px;
				text-align: right;
			}

    }

	// .videoObject{
	//       margin-left: 22px;
	// }

  }
  .video{
    text-align: right;
        margin-top: 81px;
    margin-right: 10px;
  }



}
